@import '@fontsource/mulish/500.css';
@import '@fontsource/mulish/700.css';

@import url(https://fonts.bunny.net/css?family=readex-pro:400,600);


:root {

	font-family: 'Readex Pro', Avenir, Inter, Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


	color: #000;

	--box-shadow: 0 0 30px #0000000d;
    --box-shadow-light: 0 0 10px 6px rgba(0,0,0,.06);
    --box-radius: 20px;
    --box-background: #fff;

	--accent: #354f52;
	--accent-light: #bdc5c6;
	--accent-lightest: #eaebe9;
	--border: #e1e1e1;

	--text-light: #777;
	--text-white: #fff;

	--hover: #fafafa;
	--link: #1d85d2;

	--green-light: #cadfca;
    --green: #5d995d;
    --green-dark: #335c33;

    --red-dark:#ab2525;
    --red:#db7474;
    --red-light:#ffdfdf;

    --blue-dark: #334b81;
    --blue:#5875b9;
    --blue-light: #dae5ff;

    --orange-dark: #8b5b04;
    --orange: #f1c40f;
    --orange-light: #efe3b4;

	--header-height: 55px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--accent-lightest);
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}
a.link {
	color: var(--link);
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	all:unset;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.container {
    width: 1000px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}

.g-box {
	box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    background-color: var(--box-background);
}