includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    scanDirectories:
        - var/cache/dev/Symfony/Config/
